/* A linked Stylesheet
First style Selector defaults (HTML Tags)
*/
body{
	margin:1em;
	padding:0px;
	font-family:arial, sans-serif;
	font-size:14pt; /*1em at the body*/
	color:#404040; /*Charcoal*/
}
#header{
	display:block;		/*Default*/
	position:relative;	/*Default*/
	width:820px;
	height:80px;
	margin:0px auto;
}

#header img{
	height: 80px;
	width: auto;
	display: block;
	margin: auto;
}

#menu{
	display:block;		/*Default*/
	position:relative;	/*Default*/
	width:820px;
	height:44px;
	margin:0px auto;
	font-size: 14.5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
#mainSlideShow{
	display:block;		/*Default*/
	position:relative;	/*Default*/
	width:820px;
	height:380px;
	margin:0px auto;
}
#buttonWrapper{
	display:block;		/*Default*/
	position:relative;	/*Default*/
	width:820px;
	height:80px;
	margin:0px auto;
}
#buttonOne{
	width:205px;
	height:80px;
	float:left;
}
#buttonTwo{
	width:205px;
	height:80px;
	float:left;
}
#buttonThree{
	width:205px;
	height:80px;
	float:left;
}
#buttonFour{
	width:205px;
	height:80px;
	float:left;
}
#aboutUs{
	display:block;		/*Default*/
	position:relative;	/*Default*/
	width:820px;
	height:150px;
	margin:0px auto;
}
#ourSponsers{
	display:block;		/*Default*/
	position:relative;	/*Default*/
	width:820px;
	height:120px;
	margin:0px auto;
}

#slideshowBox{
	overflow: hidden;
	margin: auto;
	width: 380px;
	height: 380px;
}

#slideshowImage{
	display: block;
	position: relative;
	overflow: hidden;
}
.button{
	margin: auto;
	display: block;
}
/*Backgroup-color for all*/
#header{
	background-color: blue;
}
#mainSlideShow{
	background-color: orange;
}
#buttonOne{
	background-color: pink;
}
#buttonTwo{
	background-color: purple;
}
#buttonThree{
	background-color: red;
}
#buttonFour{
	background-color: yellow;
}
#aboutUs{
	background-color: lightgreen;
}
#ourSponsers{
	background-color: lightblue;
}
